<!DOCTYPE html>
<html lang="en">
<footer class="bg-light alert text-light alert-success bg-black bg-opacity-75 py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 d-flex justify-content-center flex-column">
                <h2>
                    关于公司
                </h2>
                <ul>
                    <li>
                        <a class="text-light text-decoration-none" href="#">公司简介</a>
                    </li>
                    <li>
                        <a class="text-light text-decoration-none" href="#">可持续发展</a>
                    </li>
                    <li>
                        <a class="text-light text-decoration-none" href="#">信任中心</a>
                    </li>
                    <li>
                        <a class="text-light text-decoration-none" href="#">管理层信息</a>
                    </li>
                    <li>
                        <a class="text-light text-decoration-none" href="#">招贤纳士</a>
                    </li>
                    <li>
                        <a class="text-light text-decoration-none" href="#">供应商</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-4">
                <h2>
                    技术支持
                </h2>
                <ul>
                    <li>
                        <a class="text-light text-decoration-none" href="#">消费者技术支持</a>
                    </li>
                    <li>
                        <a class="text-light text-decoration-none" href="#">商城云技术支持</a>
                    </li>
                    <li>
                        <a class="text-light text-decoration-none" href="#">运营商技术支持</a>
                    </li>
                    <li>
                        <a class="text-light text-decoration-none" href="#">产品安全通告</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 text-end">
                <img th:src="@{images/二维码.png}">
            </div>
        </div>
    </div>
</footer>
</html>