<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品页</title>
    <link rel="stylesheet" th:href="@{../css/bootstrap.min.css}">
</head>
<body>
<div class="col-6 offset-1  d-flex justify-content-start align-items-center h-100">
    <div class="w-50">
        <h5 class="text-center mb-3">
            完善个人信息
        </h5>
        <img src="https://via.placeholder.com/200">
        <form role="form" class="d-flex row justify-content-center flex-column needs-validation " novalidate>
            <div class="form-group d-flex justify-content-around pe-4 p-2">
                <input type="file" class="form-control " id="exampleInputSFZ" required/>
            </div>
            <div class="col-12 text-center mt-3">
                <button class="btn btn-primary w-50" type="submit"> 上传头像</button>
            </div>
        </form>
    </div>
</div>
<script th:src="@{../js/bootstrap.js}"></script>
<script th:src="@{../js/bootstrap.bundle.js}"></script>
</body>
</html>