<body>
<div class="container">
  <ul class="nav nav-tabs border-top">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">全部订单</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">未支付</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">未发货</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">已完成</a>
    </li>
  </ul>

  <div class=" col-12 d-flex bg-black bg-opacity-25" style="height: 25vh">
    <div class="col-4 ps-5 d-flex align-items-center  justify-content-start">
      <div>
        <h2>你还没有任何订单！</h2>
      </div>
    </div>
  </div>

  <div class="text-start bg-opacity-50 bg-success  pb-3">
    <div class="row border-top p-3">
      <div class="col-4 row ">
        <div class="col-5">订单编号</div>
        <div class="col-7">12312311231232</div>
      </div>
      <div class="col-4 row ">
        <div class="col-5">下单日期</div>
        <div class="col-7">2021-01-23</div>
      </div>
      <div class="col-4 row ">
        <div class="col-5">订单状态</div>
        <div class="col-7">已完成</div>
      </div>
    </div>
    <div class="row border-top p-3">
      <div class="col-4 row">
        <div class="col-5">总数量</div>
        <div class="col-7">7件</div>
      </div>
      <div class="col-4 row">
        <div class="col-5">会员金额</div>
        <div class="col-7">190.80元</div>
      </div>
      <div class="col-4 row">
        <div class="col-5">实际支付金额</div>
        <div class="col-7">135.0元</div>
      </div>
    </div>
    <div class="row border-top p-3">
      <div class="col-4 row">
        <div class="col-5">收件人</div>
        <div class="col-7">陈生</div>
      </div>
      <div class="col-4 row">
        <div class="col-5">联系电话</div>
        <div class="col-7">13536469531</div>
      </div>
      <div class="col-4 row">
        <div class="col-5">送货地址</div>
        <div class="col-7">广州市</div>
      </div>
    </div>
  </div>


  <table class="table text-center">
    <thead>
    <tr>
      <th scope="col">图片</th>
      <th scope="col">描述</th>
      <th scope="col">属性</th>
      <th scope="col">价格（￥）</th>
      <th scope="col">数量</th>
      <th scope="col">小计</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><img src="https://via.placeholder.com/50" alt="Product 1" width="50"></td>
      <td>产品1描述</td>
      <td>产品1属性</td>
      <td>100</td>
      <td>1</td>
      <td>100</td>
    </tr>
    <tr>
      <td><img src="https://via.placeholder.com/50" alt="Product 2" width="50"></td>
      <td>产品2描述</td>
      <td>产品2属性</td>
      <td>200</td>
      <td>2</td>
      <td>400</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
