<!DOCTYPE html>
<html lang="en">

<body>

<div class="col-12 offset-1  d-flex justify-content-start align-items-center h-100">
    <div class="w-50">
        <h5 class="text-center mb-3">
            更改密码
        </h5>
        <form role="form" class="d-flex row justify-content-center flex-column needs-validation " novalidate>
            <div class="form-group d-flex justify-content-around pe-4 p-2">
                <label for="exampleInputEmail1" class="col-3 text-end">原密码：</label>
                <input type="text" class="form-control " id="exampleInputEmail1"  required/>
                <div class="invalid-feedback text-center">
                    请输入原账号
                </div>
            </div>
            <div class="form-group d-flex justify-content-around pe-4 p-2">
                <label for="password" class="col-3 text-end">新密码：</label>
                <input type="password" class="form-control " id="password"  required/>
                <div class="invalid-feedback text -center">
                    请输入新密码
                </div>
            </div>
            <div class="form-group d-flex justify-content-around pe-4 p-2">
                <label for="exampleInputPassword" class="col-3 text-end">确认新密码：</label>
                <input type="password" class="form-control " id="exampleInputPassword" required/>
                <div class="invalid-feedback text-center">
                    请确认密码
                </div>
            </div>
            <div class="form-group d-flex justify-content-around pe-4 p-2">
                <label for="exampleInputNumber" class="col-3 text-end">电子邮箱：</label>
                <input type="email" class="form-control " id="exampleInputNumber"  required/>
                <div class="invalid-feedback text -center">
                    请输入邮箱
                </div>
            </div>
            <div class="form-group d-flex justify-content-around pe-4 p-2">
                <label for="exampleInputYZM" class="col-3 text-end">手机：</label>
                <input type="text" class="form-control " id="exampleInputYZM" required/>
                <div class="invalid-feedback text -center">
                    请输入手机号码
                </div>
            </div>
            <div class="form-group d-flex justify-content-around pe-4 p-2">
                <label for="exampleInputSFZ" class="col-3 text-end">验证码：</label>
                <input type="text" class="form-control " id="exampleInputSFZ" required/>
                <div class="invalid-feedback text-center">
                    请输入有效验证码
                </div>
            </div>
            <div class="col-12 text-center mt-3">
                <button class="btn btn-primary w-50" type="submit"> 确认</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>