<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">

</head>

<body class="d-flex flex-column justify-content-between min-vh-100">
<th:block th:replace="~{common/header.html}"></th:block>
<main class="row flex-grow-1 justify-content-around min-vw-100 grid gap-5 mt-5">
    <div class="card col-3 border-0">
        <img src="images/xh_img1.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center border-end border-start border-3 border-opacity-50">
            <h5 class="card-title">百花齐放多种组合自由搭配各种好看主题可定制</h5>
            <p class="card-text fw-light">一￥ ：12.22元</p>
            <p class="card-text fw-light">-库存：20件</p>
            <a href="#" class="btn btn-danger">加入购物车</a>
        </div>
    </div>
    <div class="card col-3 border-0">
        <img src="images/xh_img1.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center border-end border-start border-3 border-opacity-50">
            <h5 class="card-title">百花齐放多种组合自由搭配各种好看主题可定制</h5>
            <p class="card-text fw-light">一￥ ：12.22元</p>
            <p class="card-text fw-light">-库存：20件</p>
            <a href="#" class="btn btn-danger">加入购物车</a>
        </div>
    </div>
    <div class="card col-3 border-0">
        <img src="images/xh_img1.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center border-end border-start border-3 border-opacity-50">
            <h5 class="card-title">百花齐放多种组合自由搭配各种好看主题可定制</h5>
            <p class="card-text fw-light">一￥ ：12.22元</p>
            <p class="card-text fw-light">-库存：20件</p>
            <a href="#" class="btn btn-danger">加入购物车</a>
        </div>
    </div>
    <div class="card col-3 border-0">
        <img src="images/xh_img1.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center border-end border-start border-3 border-opacity-50">
            <h5 class="card-title">百花齐放多种组合自由搭配各种好看主题可定制</h5>
            <p class="card-text fw-light">一￥ ：12.22元</p>
            <p class="card-text fw-light">-库存：20件</p>
            <a href="#" class="btn btn-danger">加入购物车</a>
        </div>
    </div>
    <div class="card col-3 border-0">
        <img src="images/xh_img1.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center border-end border-start border-3 border-opacity-50">
            <h5 class="card-title">百花齐放多种组合自由搭配各种好看主题可定制</h5>
            <p class="card-text fw-light">一￥ ：12.22元</p>
            <p class="card-text fw-light">-库存：20件</p>
            <a href="#" class="btn btn-danger">加入购物车</a>
        </div>
    </div>
    <div class="card col-3 border-0">
        <img src="images/xh_img1.jpg" class="card-img-top" alt="...">
        <div class="card-body text-center border-end border-start border-3 border-opacity-50">
            <h5 class="card-title">百花齐放多种组合自由搭配各种好看主题可定制</h5>
            <p class="card-text fw-light">一￥ ：12.22元</p>
            <p class="card-text fw-light">-库存：20件</p>
            <a href="#" class="btn btn-danger">加入购物车</a>
        </div>
    </div>
</main>
<th:block th:replace="~{common/footer.html}"></th:block>
</body>
</html>