<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>购物车</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
</head>
<body>
<div>
    <div class="row">
        <div class=" col-12 row bg-black bg-opacity-25" style="height: 25vh">
            <div class="col-4 ps-5 d-flex align-items-center  justify-content-start">
                <div>
                    <h2>你还没有购买任何商品</h2>
                    <button class="btn btn-success">去购物</button>
                </div>

            </div>
        </div>
        <div class="col-12 ">
            <table class="table text-center">
                <thead>
                <tr>
                    <th scope="col">选择</th>
                    <th scope="col">图片</th>
                    <th scope="col">描述</th>
                    <th scope="col">属性</th>
                    <th scope="col">价格(¥)</th>
                    <th scope="col">数量</th>
                    <th scope="col">小计</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                <tr>
                    <td class="align-middle"><input type="checkbox"></td>
                    <td><img src="https://via.placeholder.com/50" alt="Product Image"></td>
                    <td>商品描述1</td>
                    <td>属性1</td>
                    <td>
                        <button type="button" class="btn btn-sm btn-outline-secondary">-</button>
                        <input type="number" class="form-control" value="100" style="width: 80px; display: inline;">
                        <button type="button" class="btn btn-sm btn-outline-secondary">+</button>
                    </td>
                    <td>1</td>
                    <td>100</td>
                    <td>删除</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 row">
            <div class="col-4 offset-7 d-flex justify-content-around align-items-center">
                <div class="fw-light text-center d-flex align-items-center">总计：￥ 0.00</div>
                <button class="btn btn-danger">去结算</button>
            </div>
        </div>
    </div>

</div>
<script th:src="@{js/bootstrap.bundle.js}"></script>
<script th:src="@{js/bootstrap.js}"></script>
</body>
</html>